@import "../abstracts/variables";
@import "../base/typography";

.articles {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  max-width: 100%;

  li {
    padding: 36px;
    border: 1px solid $nominee-card-bg;
    background-color: $nominee-card-bg;
    color: $font-color;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    img {
      display: block;
      border: 2px solid $background-page;
      border-radius: 50%;
      padding: 3px;
      background-color: $font-color;
    }

    .author {
      margin-bottom: 12px;
      span {
        display: block;
        @include font-size(18px);
        @include font-weight(500);
        &:nth-of-type(2) {
          @include font-size(14px);
          color: $font-color-hover;
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
      span {
        @include font-size(15px);
        &::before {
          content: "#";
        }
      }
    }

    .category {
      display: block;
      padding: 4px 8px;
      border: 1px solid $font-color;
      border-radius: 4px;
      margin: 12px 0;
      max-width: fit-content;
    }

    .button_group {
      display: flex;
      gap: 36px;

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    a {
      @include font-size($h3-font-size);
      @include font-weight(500);
      letter-spacing: 1px;
      color: white;
      text-decoration: underline;

      &:hover {
        color: $background-page;
      }
    }
  }
}
